The first text box is a normal synchronous validator, the second is an example async validator that resolves after 1 minute,
there is a progress spinner in the text box to indicate we are waiting for validation,once the form is completely valid
the save button is enabled.
<br>
<br>
Note: The button is only enabled when both text boxes are valid and there are no pending asynchronous validations in progress.
<form [formGroup]="form">
    <ng-container *ngTemplateOutlet="textBox; context: {$implicit: 'textBox', label: 'Text Box'}"></ng-container>
    <ng-container *ngTemplateOutlet="textBox; context: {$implicit: 'asyncTextBox', label: 'Async Validation Text Box'}"></ng-container>
    <button [disabled]="form.status !== validStatus">Submit</button>


    <ng-template #textBox let-controlName let-label="label">
        <mat-form-field class="example-form-field" appearance="fill" *ngIf="form.controls[controlName] as control">
            <mat-label>{{label}}</mat-label>
            <input matInput type="text" [formControlName]="controlName" [errorStateMatcher]="errorStateMatcher">
            <mat-spinner *ngIf="control.status == pendingStatus" [diameter]="20"></mat-spinner>
                <mat-error *ngIf="control.errors && control.errors['shouldBeValid'] as shouldBeValid">
                    Input is expected to by empty or the case sensitive string {{shouldBeValid}}
                </mat-error>
        </mat-form-field>
    </ng-template>
</form>
