This is an example async validator that resolves after 1 minute, there is a progress spinner in the text box to indicate we are waiting for validation,
once the form is completely valid the save button is enabled
<form [formGroup]="form">
    <mat-form-field class="example-form-field" appearance="fill" *ngIf="form.controls.textBox as control">
        <mat-label>Text Box</mat-label>
        <input matInput type="text" formControlName="textBox" [errorStateMatcher]="errorStateMatcher">
        <mat-spinner *ngIf="control.status == pendingStatus" [diameter]="20"></mat-spinner>
        <mat-error *ngIf="control.errors?.shouldBeValid">
            Input is expected to by empty or the case sensitive string {{control.errors?.shouldBeValid}}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="fill" *ngIf="form.controls.asyncTextBox as control">
        <mat-label>Async Validation Text Box</mat-label>
        <input matInput type="text" formControlName="asyncTextBox" [errorStateMatcher]="errorStateMatcher">
        <mat-spinner *ngIf="control.status == pendingStatus" [diameter]="20"></mat-spinner>
        <mat-error *ngIf="control.errors?.shouldBeValid">
            Input is expected to by empty or the case sensitive string {{control.errors?.shouldBeValid}}
        </mat-error>
    </mat-form-field>
    <button [disabled]="form.status !== validStatus">Submit</button>
</form>
